.container{
    background: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.large-container{
    padding-left: 7%;
}
@media (max-width: 900px) {
    .container{
        padding-left: 5%;
    }
    .large-container{
        padding-left: 5%;
    }
}