.recommended{
    flex-basis: 30%;
}
.side-video-list{
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}
.side-video-list img{
    width: 45%;
    flex-basis: 49%;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}
@media (max-width: 900px) {
    .recommended{
        flex-basis: 100%;
        margin-top: 20px;
    }
}